@import "../../index.scss";

.tour {
  background: $mainGrey;
  border-radius: .8rem;
  margin: 1rem 0px;
  img {
    width: 100%;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    display: block;
  }
}

.img-container {
  position: relative;

  &:hover {

    .close-btn {
      opacity: 1;
    }
  }
}

.close-btn {
  position: absolute;
  display: block;
  top: 5%;
  right: 5%;
  color: $mainGreen;
  font-size: 2rem;
  cursor: pointer;
  transition: all .3s linear;
  opacity: 0;
}

.tour-info {
  padding: 1rem .5rem;

  h3 {
    text-transform: uppercase;
    color: $mainGreen;
  }
  h4 {
    text-transform: capitalize;
    color: $mainBlack;
    margin: .2rem 0 .6rem 0;
  }
  h5 {
    text-transform: capitalize;

    span {
      color: $mainGreen;
      margin: .5rem;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}